.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 250px;
    background-color: grey;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.datos {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.card img{
    margin-right: 1rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
